<html>
    <head>
        <title> Satiya's Blog </title>
    </head>
    <body>
        <div>
            <h1> <a href = "/">Satiya's Blog </a></h1>
        </div>
        <div>
            <p>published date : 13-10-2018:08:24 </p>
            <h2><a href = "">My first blog</a></h2>
            <p>This is my first blog</p>
        </div>
        <div>
            <p>published date : 13-10-2018:08:25</p>
            <h2><a href = "">My second blog</a></h2>
            <p>This is my second blog</p>
        </div>
    </body>
</html>